/node_modules
/public/hot
/public/smap
/public/vendor
/resources/views/vendor
/public/css
/public/js
public/fonts
/public/svg
/public/images
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/package.json
/package-lock.json

/composer.json
/composer-lock.json
/composer.lock








